<div class="text-center my-4">
    <h2>Anunciantes Registrados</h2>
</div>
<div class="container my-4 border text-center" style="max-width: 850px;">
  <div class="my-2">
    <app-error [mensaje]="mensaje" [espera]="verMensaje"></app-error>
  </div>
  <table class="table table-responsive">
    <thead class="table-dark">
      <tr>
        <th>Anunciante</th>
        <th>Telefono</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let anunciante of anunciantes">
        <td>{{ anunciante.nombreAnunciante }}</td>
        <td>{{ anunciante.telefono }}</td>
        <td>
          <a class="btn btn-info mx-1">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
