<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand"></a>
  <a class="navbar-brand" href="Inicio">Revistas</a>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="Inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Inicio">Contacto</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-secondary p-1 " href="RegistroUsuario">
    Registrarse
  </a>
  <a class="p-1"></a>
  <a class="btn btn-success p-1" href="InicioSesion">
    Iniciar Sesión
  </a>
  <a class="navbar-brand"></a>
</nav>
