<div class="container-sm border rounded-3 my-2" style="max-height: 225px">
  <div *ngIf="anuncio" class="row text-center">
    <iframe
      *ngIf="anuncio.tipo_anuncio == 3"
      width="460"
      height="200"
      [src]="urlVideo"
      title="Anuncio"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <div
      *ngIf="anuncio.tipo_anuncio == 2"
      class="container"
      style="max-height: 190px"
    >
      <app-ver-imagen [path]="anuncio.imagen_path"></app-ver-imagen>
    </div>
  </div>
  <div *ngIf="anuncio" class="row">
    <marquee>{{ anuncio.texto }}</marquee>
  </div>
</div>
