<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">INGRESE LA FECHA</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        Con esta fecha se realizará el registro
        <div class="was-validated mb-3">
          <input
            type="date"
            class="form-control"
            [ngModel]="fecha | date: 'yyyy-MM-dd'"
            (change)="usuarioCambiaFecha(fechaInput.value)"
            #fechaInput
            required
          />
        </div>
      </div>
    </div>
  </div>
</div>
