<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand"></a>
  <a class="navbar-brand" href="InicioAdmin">
    <img
      src="http://voxpopulii.in/system/static/dashboard/img/default_user.png"
      alt="Avatar Logo"
      style="width: 35px"
      class="rounded-pill"
    />
  </a>
  <a class="navbar-brand">Admin</a>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="InicioAdmin">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="InicioAdmin">
          Opciones
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="InicioAdmin/VerAnunciantes">Ver Anunciantes</a></li>
          <li><a class="dropdown-item" href="InicioAdmin/RegistrarAnunciante">Registrar Anunciante</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <app-cerrar-sesion></app-cerrar-sesion>
</nav>
<router-outlet></router-outlet>
