<app-anuncio></app-anuncio>
<div class="container shadow-lg my-4">
  <app-error [mensaje]="mensaje" [espera]="error"></app-error>
  <div *ngIf="revista" class="container">
    <div class="container p-2">
      <div class="row">
        <div class="col-sm-4 border">
          <div class="my-3">
            <h2>Escritor: {{ revista.usuarioCreador.nombreUsuario }}</h2>
          </div>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="InicioLector/Perfil/{{
                  revista.usuarioCreador.nombreUsuario
                }}"
                >Ver Perfil del Creador</a
              >
            </li>
          </ul>
          <h3 class="mt-2">Interacción</h3>
          <div class="row justify-content-center">
            <div *ngIf="revista.tiene_reacciones" class="col-auto m-0 p-1">
              <a
                class="btn btn-outline-primary btn-sm"
                (click)="darMeGusta()"
                id="botonMG{{ revista.idRevista }}"
              >
                Me Gusta
                <span class="badge bg-danger">
                  {{ cantidadMG }}
                </span>
              </a>
            </div>
            <div *ngIf="revista.tiene_comentarios" class="col-auto m-0 p-1">
              <a class="btn btn-info btn-sm mx-2">
                Comentarios
                <span class="badge bg-secondary"> {{ cantidadCom }}</span>
              </a>
            </div>
          </div>

          <h3 class="mt-2">Etiquetas Relacionadas</h3>
          <app-editar-etiquetas
            [etiquetasSeleccionadas]="revista.etiquetas"
          ></app-editar-etiquetas>
          <div class="text-center">
            <h6 *ngIf="revista.es_pago">Revista de Pago</h6>
            <h6 *ngIf="!revista.es_pago">Revista Gratuita</h6>
          </div>

          <div class="row justify-content-center p-2">
            <div
              *ngIf="revista.suscripciones && revista.es_pago && !tieneSub"
              class="col-auto m-0 input-group-append p-1"
            >
              <a
                class="btn btn-success"
                href="InicioLector/Suscribirse/{{ revista.idRevista }}"
              >
                Suscribirse
              </a>
            </div>
            <div
              *ngIf="!revista.es_pago || tieneSub"
              class="col-auto m-0 input-group-append p-1"
            >
              <a
                class="btn btn-info"
                href="InicioLector/Visualizar/{{ revista.idRevista }}"
                >Visualizar</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-8 border">
          <div class="my-2">
            <h2>{{ revista.titulo }}, No. {{ revista.no_version }}</h2>
          </div>
          <h5>Fecha de creación: {{ revista.fecha | date: "dd-MM-yyyy" }}</h5>
          <p>
            {{ revista.descripcion }}
          </p>
          <h2 *ngIf="!revista.tiene_comentarios" class="mt-5">
            Comentarios (Deshabilitados)
          </h2>
          <h2 *ngIf="revista.tiene_comentarios" class="mt-5">Comentarios</h2>
          <div
            *ngIf="revista.tiene_comentarios"
            class="input-group was-validated"
          >
            <input
              type="text"
              class="form-control"
              id="inputComentario"
              minlength="10"
              maxlength="200"
              placeholder="Escriba un comentario . . ."
              [(ngModel)]="comentarioNuevo"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="hacerComentario()">
                Agregar
              </button>
              <button
                class="btn btn-outline-secondary"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
              >
                Fecha
              </button>
            </div>
          </div>
          <div
            *ngIf="revista.tiene_comentarios"
            class="overflow-auto"
            style="height: 500px"
          >
            <div *ngFor="let coment of comentarios">
              <app-comentario [comentario]="coment"></app-comentario>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-solicitar-fecha (cambioFecha)="recibirFecha($event)"></app-solicitar-fecha>