<div class="container border shadow-lg my-5" style="max-width: 900px">
  <form
    [formGroup]="validarForm"
    (ngSubmit)="crearPublicacion()"
    class="was-validated"
  >
    <div class="row">
      <div class="col border border-start text-center">
        <h2 class="my-2">Datos de Revista</h2>
        <div class="row text-center">
          <div class="col-sm-8 mb-3 mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="Título"
              maxlength="50"
              minlength="5"
              formControlName="titulo"
              required
            />
          </div>
          <div class="col-sm-4 mb-3 mt-3">
            <input
              type="number"
              class="form-control"
              placeholder="Versión"
              min="1"
              step="1"
              value="1"
              formControlName="version"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="file"
              class="form-control"
              id="inputFile"
              accept="application/pdf"
              formControlName="archivo"
              (change)="obtenerPath($event)"
              required
            />
          </div>
          <div class="col-auto">
            <div class="input-group mb-3">
              <input
                type="date"
                class="form-control"
                formControlName="fecha"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <textarea
              class="form-control"
              placeholder="Descripción"
              minlength="20"
              maxlength="150"
              formControlName="descripcion"
              required
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col my-4">
            <div class="container align-content-center">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (click)="cambiarEsGratuita()"
                />
                <label class="form-check-label" for="mySwitch">
                  ¿Es gratuita?
                </label>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <input
              type="number"
              class="form-control"
              placeholder="Precio Suscripción"
              id="inputPrecioSuscripcion"
              min="1"
              step="0.01"
              (keyup)="ingresoPrecioSus($event)"
              pattern="^\d*(\.\d{0,2})?$"
              value="1"
              required
            />
          </div>
        </div>
        <div class="row m-0 justify-content-center">
          <div class="col-auto">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="suscripciones"
                checked
              />
              <label class="form-check-label" for="defaultCheck1">
                ¿Se puden suscribir?
              </label>
            </div>
          </div>
        </div>
        <div class="row m-0 justify-content-center my-3">
          <h5>Ajustes de publicación</h5>
          <div class="col-auto">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="tiene_comentarios"
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Permite Comentarios
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="tiene_reaccion"
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Permite Me gusta
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col border border-start">
        <div class="text-center my-1">
          <h3>Seleccione las etiquetas relacionadas</h3>
        </div>
        <app-seleccion-etiquetas
          [crearEtiqueta]="crearEtiqueta"
          (enviarEtiquetas)="recibirEtiquetas($event)"
        >
        </app-seleccion-etiquetas>
      </div>
    </div>
    <div class="container text-center p-2">
      <button type="submit" class="btn btn-primary">Crear Revista</button>
    </div>
  </form>
  <app-error [mensaje]="mensaje" [espera]="error"></app-error>
</div>
<app-anuncio></app-anuncio>